# Ignore Client_config.json file
/tokenData/Client_config.json

# Ignore the .idea directory
.idea/

# Ignore venv
venv/

# Ignore DB
/historyData/HistoryData.db

# ignore marked data
DataAnalyze/marked_data

# ignore model
DataAnalyze/random_forest_model.joblib
